<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile-1.0.1.min.css"/>
    

    <!-- The Templates -->
    <script type="text/template" id="home">

        <div data-role="header">
            <h1>Social Product Review</h1>
        </div>

        <div data-role="content">
            <h3>Search</h3>
            <div><div><input id="search" type="search" results /><button type="button" id="fav">Favorites</button></div><div id="display"></div>
            
            
        </div>

    </script>
    <script type="text/template" id="bbresults">

        <div data-role="header">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <h1>Results</h1>
        </div>

        <div data-role="content">
            
            <div id="result-list"></div>
           
        </div>

   
    </script>
    <script type="text/template" id="singleitem-template">
        <div data-role="header">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <h1><%- name %></h1>
        </div>

        <div data-role="content">
            <p>$<%- regularPrice %></p>
            <div id="result-list"></div>
          
            
        </div>
    </script>
    <script type="text/template" id="favs">

        <div data-role="header">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <h1>Favorites</h1>
        </div>

        <div data-role="content">
            
            
        
        </div>

    </script>

    <script type="text/template" id="item-template">
        
        <div class="view">
        <table id="<%- sku %>"><tr><td>
         <img src="<%- image %>" />
         </td><td>
          <label><%- name %></label>
          <p>$<%- regularPrice %></p>
          </tr></td></table>
          
        </div>
    </script>
    <script type="text/template" id="product-template">
        <div data-role="header" data-inset="true">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <h1 id="phead"><%- name %></h1>
        </div>
        <div class="view">
        <table id="<%- cid %>"><tr><td>
         <img src="<%- image %>" />
         </td><td>
          <label id="pname"><%- name %></label>
          <p>$<%- regularPrice %></p>
          </tr></td></table>
          <div><button type="button" id="addto">Add to Favorites</button></div>
          
        </div>
        
    </script>
    <!-- The Scripts -->
    <script src="lib/jquery-1.7.1.min.js"></script>
    <script src="js/jqm-config.js"></script>
    <script src="lib/jquery.mobile-1.0.1.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/backbone.localStorage.js"></script>
    <script src="js/main.js"></script>
</head>

<body><!-- page 1 is Results page 2 is product view --> </body>

</html>