<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile-1.0.1.min.css"/>
    <style type="text/css">
        span { clear:both;}
    </style>

    <!-- The Templates -->
    <script type="text/template" id="home">

        <div data-role="header">
            <h1>Social Product Review</h1>
        </div>

        <div data-role="content">
            <h3>Search</h3>
            <div><div><input id="search" type="search" results /><a href="#favs"><button type="button">Favorites</button></a></div><div id="display">Home View</div>
            
            <p>Navigate to:</p>
            <ul data-role="listview"  data-inset="true">
                <li><a href="#page1">Results</a></li>
                <li><a href="#page2">Product View</a></li>
            </ul>
        </div>

    </script>
    <script type="text/template" id="bbresults">

        <div data-role="header">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <h1>Results</h1>
        </div>

        <div data-role="content">
            <p>Results</p>
            <div id="result-list"></div>
            <p>Navigate to:</p>
            <ul data-role="listview" data-inset="true">
                <li><a href="#">Home</a></li>
                <li><a href="#page2">Product View</a></li>
            </ul>
        </div>

   
    </script>
    <script type="text/template" id="result-template">
        <div id="block">
        <img src="" /> <h3></h3><p></p>
        </div>
    </script>
    <script type="text/template" id="favs">

        <div data-role="header">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <h1>Favorites</h1>
        </div>

        <div data-role="content">
            <h3>Favorites</h3>
            
        
        </div>

    </script>

    <script type="text/template" id="item-template">
        <div class="view">
        <table><tr><td>
         <img src="<%- image %>" />
         </td><td>
          <label><%- name %></label>
          <p>$<%- regularPrice %></p>
          </tr></td></table>
        </div>
    </script>
    <!-- The Scripts -->
    <script src="lib/jquery-1.7.1.min.js"></script>
    <script src="js/jqm-config.js"></script>
    <script src="lib/jquery.mobile-1.0.1.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="js/main.js"></script>
</head>

<body><!-- page 1 is Results page 2 is product view --> </body>

</html>